* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none !important;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
}

.cursor {
  cursor: pointer;
}

.modalBox {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255, 0.8);
}

/* .bulb{
  background-image: url('../src/assets/Light\ bulb-bro\ \(1\)\ 1.png');
  background-size: 100%;
  /* width: 100vw; */
/* background-repeat: no-repeat;
  background-position: 0px;
  overflow-x: hidden;
  margin: 0 auto;
 } */
*/ .circle {
  width: 100%;
}
.bulb-bg {
  background-image: url("../src/assets/Ellipse\ 1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
input,
textarea {
  background-color: white;
}

.arrow {
  width: 100vw;
}

.vid {
  width: 100%;
}

.quote {
  width: 100%;
}

.dgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (min-width: 768px) {
  .modalBox {
    width: 350px;
    height: 300px;
    margin-top: 10px;
  }

  .bulb {
    width: 100%;
  }
  /* .bulb{
    background-image:url('../src//assets/Light\ bulb-bro\ \(1\)\ 1.png') ;
    background-repeat: no-repeat;
    background-position: unset;
    width: unset; */

  /* margin: 0 auto;
    background-position: 20px;
    overflow-x: hidden;
  } */
  .circle {
    width: unset;
  }
}

.arrow {
  width: 200px;
}
.lst {
  list-style-type: none;
}
li:hover {
  color: orange;
}

a {
  text-decoration: none;
}
.vid {
  width: unset;
}
@media (min-width: 1024px) {
  /* .bulb{
    background-image:url('../src//assets/Light\ bulb-bro\ \(1\)\ 1.png') ;
    background-repeat: no-repeat;
    background-position: unset;
    background-size: unset;
    width: unset;
    /* width: 100%; */
  /* margin: 0 auto;
    background-position: 260px;
    overflow-x: hidden;
  } */
  */ .circle {
    width: unset;
  }

  .arrow {
    width: 200px;
  }

  .vid {
    width: unset;
  }

  .dgrid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.footer {
  max-width: unset;
  padding: unset;
  /* width: 100vw !important; */
  /* margin-right: 100px !important; */
  max-width: unset !important;
}
.prof {
  background-color: #d9d9d9;
  width: 21vw;
  border-radius: 8px;
  margin: 20px auto;
}
.prof-grid {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .bulb {
    width: 75%;
  }
  .prof-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

ul {
  list-style-type: none;
}

@media (max-width: 500px) {
  .bulb {
    width: 100% !important;
  }
}
